<div class="page-header">
    <h1>Genshin Impact <small>Resina Timeline</small></h1>
</div>

<div class="row mb-3" *ngIf='!show'>
    <div class="col">
        <form #formResina="ngForm" (submit)="calculate()">
            <div class="input-group">
                <input type="number" class="form-control" id="resina" name="resina" min="0" max="120"
                    placeholder="Ingrese resina actual ..." [(ngModel)]="init.resina" required>
                <div class="input-group-append">
                    <button class="btn btn-dark" type="submit" [disabled]="formResina.invalid">Ingresar</button>
                </div>
            </div>
        </form>

    </div>
</div>
<div *ngIf='show'>
    <div class="row">
        <div class="col-sm-12 col-md-12 mb-3">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Operaciones</h5>
                    <button class="btn btn-secondary mr-2" (click)="show=!show">Cambiar resina</button>
                    <button class="btn btn-secondary mr-2" (click)="restResina(20)">-20</button>
                    <button class="btn btn-secondary mr-2" (click)="restResina(40)">-40</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-3">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Resina Actual</h5>
                    <p class="card-text">{{current.resina}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-3">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Proxima Recarga</h5>
                    <p class="card-text">{{current.cuenta}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 mb-3">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Hora actual</h5>
                    <p class="card-text">{{current.time|date:'mediumTime'}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table  table-dark table-bordered table-stripped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Hora</th>
                        <th>Resina</th>
                        <th>Total</th>
                        <th>Cuenta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of timeline;let i=index">
                        <th>{{i+1}}</th>
                        <td>{{item.time|date:"shortTime"}}</td>
                        <td>+{{item.sum}}</td>
                        <td>{{item.total}}</td>
                        <td>{{item.cuenta}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="text-right">by <a href="https://ruben.cl" target="_blank">Rbn</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <app-guide></app-guide>
    </div>
</div>