@import "bootstrap";

body {
    position: float;
    background-image: url(/assets/genshin.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
